* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}

.preview-image {
  width: 512px;
  height: 512px;
}